@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap");
*, *:before, *:after {
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

body {
  min-height: 100vh;
  margin: 0;
  font-size: clamp("100%, 0.8125rem + 2vw, 24px");
  background-color: #ffffff;
  font-family: 'Roboto', 'Roboto Condensed', sans-serif; }

/*Header Section*/
header {
  background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/public/assets/img/image.jpg");
  background-size: cover; }
  header .container {
    margin: 0px 141px; }
    header .container nav {
      display: flex;
      justify-content: space-between;
      padding-top: 24px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed';
      color: #ffffff;
      align-items: center; }
      header .container nav a {
        text-decoration: none;
        color: white; }
        header .container nav a:visited {
          color: white; }
      header .container nav a.logo {
        font-size: 31px;
        line-height: 37px;
        letter-spacing: 0.07em;
        font-weight: 700;
        padding-top: 10px; }
      header .container nav ul {
        margin: 0;
        padding: 0;
        display: flex; }
        header .container nav ul li {
          list-style: none; }
          header .container nav ul li a {
            text-decoration: none; }
      header .container nav ul.left-links li {
        padding-right: 50px; }
        header .container nav ul.left-links li a {
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.02em; }
      header .container nav ul.right-links li {
        padding: 0px 0px 0px 37px; }
        header .container nav ul.right-links li a {
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.02em;
          text-align: left; }
        header .container nav ul.right-links li .register {
          border: 2px solid #FC6868;
          border-radius: 100px;
          padding: 13px 33px 11px 34px; }
    header .container .hero-content {
      display: flex;
      color: #ffffff;
      margin-top: 300px;
      position: relative; }
      header .container .hero-content .hero-title {
        flex: 1; }
        header .container .hero-content .hero-title h1 {
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 64px;
          letter-spacing: 0em;
          text-align: left; }
        header .container .hero-content .hero-title p {
          font-size: 30px;
          font-style: normal;
          font-weight: 300;
          line-height: 30px;
          letter-spacing: 0.01em;
          text-align: left; }
    header .container .social-links {
      position: absolute;
      bottom: 140px;
      right: 0px; }
      header .container .social-links ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0; }
        header .container .social-links ul li {
          list-style: none;
          padding-top: 43px; }

/*Image card gallery section*/
main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #F8F7FF; }
  main::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 50%;
    transform-origin: top;
    transform: translateX(-50%) scale(5.5); }
  main .container {
    margin: 0px 141px; }
  main .content {
    position: relative;
    z-index: 1; }
    main .content .gallery-title {
      padding-top: 121px;
      text-align: center; }
      main .content .gallery-title p {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.09em;
        color: #938BD5;
        text-transform: uppercase; }
      main .content .gallery-title h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        color: #1A1636; }
    main .content .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: auto;
      grid-gap: 34px;
      margin: 72px 0px 80px 0px; }

/* Search Form*/
.search-form {
  display: flex;
  align-items: center;
  padding: 93px 0px 85px 0px; }
  .search-form form {
    flex: 3; }
    .search-form form .label {
      color: #938BD5;
      background-color: white;
      padding-top: 25px;
      padding-left: 85px; }
    .search-form form .input-form {
      background-color: #ffffff;
      padding: 16px 0px 33px 35px;
      display: flex;
      border-radius: 0px 0px 0px 22px; }
      .search-form form .input-form input {
        padding-left: 25px;
        border: none;
        width: 100%; }
        .search-form form .input-form input::placeholder {
          color: #292357;
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.01em; }
  .search-form .btn-form {
    display: inherit;
    height: 100%; }
    .search-form .btn-form .btn-form button::after {
      content: "";
      clear: both;
      display: table; }
    .search-form .btn-form .btn-form button:active {
      outline: none; }
    .search-form .btn-form .btn-form button:focus {
      outline: none; }
    .search-form .btn-form .btn-category {
      background-color: #D9D6F1;
      color: #292357;
      padding: 35px 77px 35px 28px;
      cursor: pointer; }
      .search-form .btn-form .btn-category span {
        padding-bottom: 10px;
        display: inline-block; }
      .search-form .btn-form .btn-category img {
        padding-left: 15px; }
    .search-form .btn-form .btn-search {
      background-color: #FC6868;
      color: white;
      cursor: pointer;
      padding: 44px 44px 44px 54px;
      border-radius: 0px 22px 22px 0px;
      transform: translateX(-2px); }
  .search-form .mouse-icon {
    color: #D9D6F1;
    flex: 1;
    text-align: right; }

/* Image Card */
.card {
  background: #ffffff;
  box-shadow: 0px 24.3973px 42.6953px rgba(232, 229, 255, 0.6);
  transition: 0.3s;
  border-radius: 7.84199px; }
  .card .overlay-image {
    background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/public/assets/img/thumbnail.png");
    max-width: 100%;
    width: 264px;
    height: 207px; }
  .card .card-content {
    padding: 17px 17px 24px 17px; }
    .card .card-content .card-title {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .card .card-content .card-title p {
        flex: 1;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: #1A1636;
        text-transform: capitalize;
        margin: 0; }
      .card .card-content .card-title .heart {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
        background-repeat: no-repeat;
        background-size: 2900%;
        background-position: left;
        height: 23px;
        width: 80px;
        cursor: pointer; }
    .card .card-content .card-location {
      display: flex;
      align-items: center;
      justify-items: start; }
      .card .card-content .card-location p {
        padding-left: 5px;
        color: #9892C0; }
    .card .card-content ul.tags {
      display: inline-flex;
      padding: 17px 0px 61px 0px;
      margin: 0; }
      .card .card-content ul.tags .tag1 {
        background-color: #B1BDFA;
        color: #2243F1;
        padding: 8px 25px 7px 12px; }
      .card .card-content ul.tags .tag2 {
        color: #0D94CF;
        background-color: #B1E4FA;
        padding: 8px 10px 7px 13px; }
      .card .card-content ul.tags .tag3 {
        color: #099068;
        background-color: #B2FAE5;
        padding: 8px 11px 7px 12px; }
      .card .card-content ul.tags li {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        list-style-type: none;
        border-radius: 30.5px;
        margin-right: 10px; }
    .card .card-content .button-link {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #39317C;
      text-decoration: none;
      text-align: left; }
      .card .card-content .button-link span {
        margin-left: 15px; }
  .card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0; }

/* Animation heart icon*/
.animate {
  animation: heart-burst 0.8s steps(28) forwards; }

@keyframes heart-burst {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }
