*, *:before, *:after {
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

body {
  min-height: 100vh;
  margin: 0;
  font-size: clamp("100%, 0.8125rem + 2vw, 24px");
  background-color: #ffffff;
  font-family: 'Inter', sans-serif; }

header {
  background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/public/assets/img/image.jpg");
  background-size: cover;
  height: 901px; }
  header .container {
    padding: 0px 141px; }
    header .container nav {
      display: flex;
      justify-content: space-between;
      padding-top: 34px; }
      header .container nav a {
        text-decoration: none; }
        header .container nav a:visited {
          color: white; }
      header .container nav ul {
        margin: 0;
        padding: 0;
        display: flex; }
      header .container nav li {
        list-style: none; }
      header .container nav a {
        text-decoration: none; }
    header .container .hero-content {
      display: flex;
      color: #ffffff;
      margin-top: 300px; }
      header .container .hero-content .hero-title {
        flex: 1; }
    header .container .social-links ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0; }
      header .container .social-links ul li {
        list-style: none;
        padding-top: 15px; }
