@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap");
*, *:before, *:after {
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

body {
  min-height: 100vh;
  margin: 0;
  font-size: clamp("100%, 0.8125rem + 2vw, 24px");
  background-color: #ffffff;
  font-family: 'Roboto', 'Roboto Condensed', sans-serif; }

header {
  background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/public/assets/img/image.jpg");
  background-size: cover;
  height: 901px; }
  header .container {
    margin: 0px 141px; }
    header .container nav {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed';
      color: #ffffff; }
      header .container nav a {
        text-decoration: none; }
        header .container nav a:visited {
          color: white; }
      header .container nav a.logo {
        font-size: 31px;
        line-height: 37px;
        letter-spacing: 0.07em;
        font-weight: 700; }
      header .container nav ul {
        margin: 0;
        padding: 0;
        display: flex; }
        header .container nav ul li {
          list-style: none; }
          header .container nav ul li a {
            text-decoration: none; }
      header .container nav ul.left-links li a {
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.02em; }
      header .container nav ul.right-links li a {
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: left; }
    header .container .hero-content {
      display: flex;
      color: #ffffff;
      margin-top: 300px; }
      header .container .hero-content .hero-title {
        flex: 1; }
        header .container .hero-content .hero-title h1 {
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 64px;
          letter-spacing: 0em;
          text-align: left; }
        header .container .hero-content .hero-title p {
          font-size: 30px;
          font-style: normal;
          font-weight: 300;
          line-height: 30px;
          letter-spacing: 0.01em;
          text-align: left; }
    header .container .social-links ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0; }
      header .container .social-links ul li {
        list-style: none;
        padding-top: 15px; }

main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #F8F7FF; }
  main::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 50%;
    transform-origin: top;
    transform: translateX(-50%) scale(5.5); }
  main .container {
    margin: 0px 141px; }
  main .content {
    position: relative;
    z-index: 1;
    text-align: center; }
    main .content .gallery-title {
      padding-top: 60px; }
      main .content .gallery-title p {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.09em;
        color: #938BD5;
        text-transform: uppercase; }
      main .content .gallery-title h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        color: #1A1636; }
    main .content .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: auto;
      grid-gap: 30px; }

/* Card Component*/
.card {
  background: #ffffff;
  box-shadow: 0px 24.3973px 42.6953px rgba(232, 229, 255, 0.6);
  transition: 0.3s;
  border-radius: 7.84199px; }
  .card .card-content {
    padding: 17px 17px 24px 17px; }
    .card .card-content .card-title {
      display: inline-flex;
      align-items: center; }
      .card .card-content .card-title p {
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        color: #1A1636;
        text-transform: capitalize;
        margin: 0; }
    .card .card-content ul.tags {
      display: inline-flex; }
      .card .card-content ul.tags li {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        list-style-type: none; }
    .card .card-content .button-link {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #39317C;
      text-decoration: none;
      text-align: left; }
  .card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0; }
  .card #heart {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: left;
    height: 23px;
    width: 80px;
    margin: 0 auto;
    cursor: pointer; }
  .card .animate {
    animation: heart-burst 0.8s steps(28) forwards; }

@keyframes heart-burst {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }
