/*Header Section*/
header {
    background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/public/assets/img/image.jpg");
    background-size: cover;
    .container {
        margin:0px 141px;
        nav {
            display:flex;
            justify-content: space-between;
            padding-top:24px;
            text-transform: uppercase;
            font-family: 'Roboto Condensed';
            color:#ffffff;
            align-items: center;
            a {
                text-decoration: none;
                color:white;
                &:visited {
                    color:white;
                }
            }
            a.logo {
                font-size: 31px;
                line-height: 37px;
                letter-spacing: 0.07em;
                font-weight: 700;
                padding-top:10px;
            }
            ul {
                margin:0;
                padding:0;
                display: flex;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                    }
                }
            }
            ul.left-links li {
                        padding-right:50px;
                        a {
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                        }
                    }
            ul.right-links li {
                        padding:0px 0px 0px 37px;
                        a {
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            text-align: left;
                        }
                        .register {
                            border: 2px solid #FC6868;
                            border-radius: 100px;
                            padding:13px 33px 11px 34px;
                        }
                    }
        }
        .hero-content {
            display:flex;
            color:#ffffff;
            margin-top:300px;
            position: relative;
            .hero-title {
                flex:1;
                h1 {
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 64px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                p {
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 0.01em;
                    text-align: left;
                    color:yellow;
                }
            }
        }
        .social-links {
            position: absolute;
            bottom:140px;
            right:0px;
            ul {
                display:flex;
                flex-direction: column;
                margin:0;
                padding:0;
                li {
                    list-style: none;
                    padding-top:43px;
                }
            }
        } 
    }
   
}

/*Image card gallery section*/
main {
    position: relative;
    overflow: hidden;
    width:100%;
    height:100%;
    background: #F8F7FF;
    &::before {
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        width:100%;
        height:100%;
        background: #ffffff;
        border-radius: 50%;
        transform-origin: top;
        transform:translateX(-50%) scale(5.5);
    }
    .container {
        margin:0px 141px;
    }
    .content {
        position: relative;
        z-index: 1;
        .gallery-title {
            padding-top:121px;
            text-align: center;
            p {
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0.09em;
                color:#938BD5;
                text-transform: uppercase;
            }
            h1 {
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0em;
                color:#1A1636;
            }
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: auto;
            grid-gap: 34px;
            margin:72px 0px 80px 0px;
            }
        }
    }