header {
    background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/public/assets/img/image.jpg");
    background-size: cover;
    height:901px;
    .container {
        margin:0px 141px;
        nav {
            display:flex;
            justify-content: space-between;
            padding-top:10px;
            text-transform: uppercase;
            font-family: 'Roboto Condensed';
            color:#ffffff;
            a {
                text-decoration: none;
                &:visited {
                    color:white;
                }
            }
            a.logo {
                font-size: 31px;
                line-height: 37px;
                letter-spacing: 0.07em;
                font-weight: 700;
            }
            ul {
                margin:0;
                padding:0;
                display: flex;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                    }
                }
            }
            ul.left-links li a {
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    letter-spacing: 0.02em;
            }
            ul.right-links li a {
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    text-align: left;
            }
        }
        .hero-content {
            display:flex;
            color:#ffffff;
            margin-top:300px;
            .hero-title {
                flex:1;
                h1 {
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 64px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                p {
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 0.01em;
                    text-align: left;
                }
            }
        }
        .social-links ul {
            display:flex;
            flex-direction: column;
            margin:0;
            padding:0;
            li {
                list-style: none;
                padding-top:15px;
            }
        }
    }
}
main {
    position: relative;
    overflow: hidden;
    width:100%;
    height:100%;
    background: #F8F7FF;
    &::before {
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        width:100%;
        height:100%;
        background: #ffffff;
        border-radius: 50%;
        transform-origin: top;
        transform:translateX(-50%) scale(5.5);
    }
    .container {
        margin:0px 141px;
    }
    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        .gallery-title {
            padding-top:60px;
            p {
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0.09em;
                color:#938BD5;
                text-transform: uppercase;
            }
            h1 {
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0em;
                color:#1A1636;
            }
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: auto;
            grid-gap: 30px;
            }
        }
    }