header {
    background-image: linear-gradient(0deg, #5145B5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/public/assets/img/image.jpg");
    background-size: cover;
    height:901px;
    .container {
        padding:0px 141px;
        nav {
            display:flex;
            justify-content: space-between;
            padding-top:34px;
            a {
                text-decoration: none;
                &:visited {
                    color:white;
                }
            }
            ul {
                margin:0;
                padding:0;
                display: flex;
            }
            li {
                list-style: none;
    
            }
            a {
                text-decoration: none;
    
            }
        }
        .hero-content {
            display:flex;
            color:#ffffff;
            margin-top:300px;
            .hero-title {
                flex:1;
            }
        }
        .social-links ul {
            display:flex;
            flex-direction: column;
            margin:0;
            padding:0;
            li {
                list-style: none;
                padding-top:15px;
            }
        }
    }
    
}